.bg-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cont-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.card-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heading {
  color: #1e293b;
  font-size: 28px;
  font-family: 'Roboto';
}

.desc {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
}

.list-item-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0px;
}
